.fade-in {
  animation: fadeInBottom 0.75s;
  -webkit-animation: fadeInBottom 0.75s;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
