@import "./variables/colors.css";
@import "./variables/breakpoints.css";
@import "./components";
@import "./partials";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body {
  margin: 0;
  display: block;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background-color: var(--grayscale_0);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.profile-navbar {
  height: 60px;
  background-color: var(--darkNavy);
}

.profile-navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.profile-background-banner {
  background-image: url('../assets/profile_banner.png');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  max-height: 339px;
  height: 339px;
}

.profile-footer {
  height: 60px;
  background-color: var(--darkNavy);
}